canvas {
    position: absolute;
    top: 0px;
    z-index: -1;
    margin: auto;
    display: block;
    width: 500px;
}

.center {
    padding: 10px;
    text-align: center;
}

.final {
    color: black;
    padding-right: 3px;
}

.interim {
    color: gray;
}

.info {
    font-size: 10px;
    text-align: center;
    color: #777;
    display: none;
}

.right {
    float: right;
}

.sidebyside {
    display: inline-block;
    width: 45%;
    min-height: 40px;
    text-align: left;
    vertical-align: top;
}

#info {
    position: absolute;
    right: 1em;
    top: 4em;
    padding: 0.5em;
    text-align: right;
    color: #555;
    visibility: hidden;
    /*background-color: #fff;*/
    max-width: 40%;
}
#info p {
    font-size: 0.9em;
}

#results {
    position: absolute;
    top: 4em;
    left: 1em;
    padding: 0.5em;
    text-align: left;
    /*background-color: #fff;*/
    max-width: 40%;
}

#start_button {
    border: 0;
    background-color: transparent;
    padding: 0;
    /*width: 25px;*/
    /*height: 25px;*/
}